body{
    margin: 0;
    padding: 0;
}

.canvas{
    text-align: center;
    margin-top: 100px;
}

.button{
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;
}

#grey{
    background-color: grey;
}

#white{
    background-color: white;
}

#blue{
    background-color: blue;
}

#yelow{
    background-color: yellow;
}